---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ResearchOverviewImage from "../../assets/research-overview.jpg";

const collection = await getCollection("researchOverview");
---

<BaseLayout>
	<div class="flex flex-col gap-10">
		<div class="text-white relative">
			<Image
				alt="Research overview background image"
				class="absolute inset-0 w-full h-full object-cover -z-10"
				src={ResearchOverviewImage!}
			/>
			<div class="py-30 bg-brand-mask text-center flex flex-col gap-4 lg:px-layout-lg md:px-layout-md sm:px-layout-sm px-layout">
				<h1 class="text-4xl">Research Overview</h1>
				<h3 class="text-2xl">
					My research develops trustworthy deep learning
					frameworks—with a strong focus on uncertainty quantification
					and multi-modal fusion—to ensure that artificial
					intelligence deployed in high-stakes healthcare environments
					is accurate, explainable, and inherently safe.
				</h3>
			</div>
		</div>
		<div class="lg:px-layout-lg md:px-layout-md sm:px-layout-sm px-layout flex flex-col gap-10">
			{
				collection
					.sort(
						(a, b) =>
							b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
					)
					.map((entry) => (
						<div class="flex flex-col gap-2">
							<h2 class="text-2xl font-medium text-brand dark:text-white my-2">
								<a href=`/research/${entry.id}`>{entry.data.title}</a>
							</h2>
							<div class="flex gap-6 flex-col lg:flex-row">
								<Image
									class="shrink-0 grow-0 w-70 h-70 self-center"
									src={entry.data.heroImage!}
									alt={entry.data.title ?? 'Research Overview Hero Image'}
								/>
								<div class="flex flex-col gap-2">
									<p>
										<b>Description: </b>
										{entry.data.description}
									</p>
									<p>
										<b>Challenge: </b>
										{entry.data.challenge}
									</p>
									<p>
										<b>Approach: </b>
										{entry.data.approach}
									</p>
									<p>
										<b>Key Findings: </b>
										{entry.data.keyFindings}
									</p>
									<p>
										<b>Related Publication: </b>
										{entry.data.relatedPublication}
									</p>
								</div>
							</div>
						</div>
					))
			}
		</div>
	</div>
</BaseLayout>
