---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BaseLayout.astro";
import authorJson from "../data/author.json";
import Link from "../components/Link.astro";

const API_KEY = process.env.SERPAPI_KEY;

interface Article {
	title: string;
	link: string;
	authors: string;
	publication: string;
	cited_by: {
		value: number;
		link: string;
	} | null;
	year: string;
}

interface Author {
	author: {
		name: string;
		affiliations: string;
		interests: {
			title: string;
			link: string;
		}[];
	};
	articles: Article[];
}

const author: Author = await (async () => {
	if (API_KEY) {
		const request = await fetch(
			`https://serpapi.com/search?api_key=${API_KEY}&engine=google_scholar_author&hl=en&author_id=HczSncoAAAAJ&num=100`,
		);
		const response = await request.json();
		return response;
	} else {
		return authorJson;
	}
})();

const { articles } = author;
---

<Layout title="Publications">
	<main>
		<section>
			<ul class="publications-list">
				{
					articles.map((article) => (
						<li>
							<h4>{article.title}</h4>
							<div class="info">
								<div class="publication">
									<div>{article.publication}</div>
									<div>{article.authors}</div>
									<div class="link">
										<Link href={article.link} target="_blank">
											View
										</Link>
									</div>
								</div>
							</div>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		width: 960px;
	}
	h4 {
		font-size: 1.2rem;
	}
	li {
		margin: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	.publications-list {
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		list-style-type: none;
	}

	.info {
		display: flex;
		font-size: 0.9em;
		color: rgb(var(--gray));
	}
	.link {
		font-size: 0.9em;
	}
</style>
